@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  color: #1c1917;
  background-color: #fefdfb;
  overflow-x: hidden;
}

::selection {
  background-color: var(--color-primary, #1c1917);
  color: #fff;
}

.no-scrollbar::-webkit-scrollbar {
  display: none;
}
.no-scrollbar {
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.text-balance {
  text-wrap: balance;
}
